// COLORS
$color-primary: #01b0f1;
$color-secondary: #5ce4f1;
$color-dark-grey: #3A4049;
$color-medium-grey: #4D535B;
$color-light-grey: #EAF1F4;
$color-light-grey-1: #d5dae0;

$gradient-main: linear-gradient(160deg, $color-secondary 0%, $color-primary 100%);